<h1>Places Sabrina Has Traveled</h1>

<div class="row">
  <% for place in @places %>

  <a 
  href="/places/<%= place["id"]%>">
  <%= place["name"]%>
  </a>

</div>
  <% end %>

<p>
    <a 
    href="/places/new">Add a new location
    </a>
</p>