<h1>New Location</h1>

<%= form_with :model => @places do |form| %>
 <p>
    <%= form.label "location" %>
    <%= form.text_field "location" %>
 </p>
  <%= form.submit %>
<% end %>

<p>
    <a href="/places">Back to main page
    </a>
</p>
